.header{
    background: linear-gradient(to right, #ff8a00, #da1b60);
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
.header p{
    font-size: 25px;
}